<!DOCTYPE >
<html>
    <head>
        <title>loading...</title>
        <link rel="stylesheet" href="/src/game.css">
        <script src="/src/game.js" defer></script>
    </head>
    <body>
        <div id="game-status">Joining...</div>
        <div id="game-board">
            <div id="num0-0" class="field" onclick="play(0,0)"></div>
            <div id="num0-1" class="field" onclick="play(0,1)"></div>
            <div id="num0-2" class="field" onclick="play(0,2)"></div>
            <div id="num1-0" class="field" onclick="play(1,0)"></div>
            <div id="num1-1" class="field" onclick="play(1,1)"></div>
            <div id="num1-2" class="field" onclick="play(1,2)"></div>
            <div id="num2-0" class="field" onclick="play(2,0)"></div>
            <div id="num2-1" class="field" onclick="play(2,1)"></div>
            <div id="num2-2" class="field" onclick="play(2,2)"></div>
        </div>
    </body>
</html>