<!DOCTYPE >
<html>
    <head>
        <title>are you lost?</title>
        <link rel="stylesheet" href="/src/invalid.css">
    </head>
    <body>
        <div id="header">
            <h1>You probably lost. Invalid game brother.</h1>
            <div class="tenor-gif-embed" data-postid="5114829" data-share-method="host" data-aspect-ratio="1.03093" data-width="100%"><a href="https://tenor.com/view/confused-john-travolta-what-gif-5114829">Confused John Travolta GIF</a>from <a href="https://tenor.com/search/confused-gifs">Confused GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>
    </body>
</html>