<!DOCTYPE >
<html>
    <head>
        <title>tic tac bruh</title>
        <link rel="stylesheet" href="src/landing.css">
        <script src="src/landing.js" defer></script>
    </head>
    <body>
        <div id="welcome">
            <span>Tic Tac Toe</span>
            <br>
            <span>100% original idea</span>
        </div>
        <br>
        <div id="game">
            <span>create a game</span><br>
            <div id="create_game" onclick="create()">create</div><br>
            <span>join a game?</span><br>
            <div id="error">error</div>
            <input id="invite_code"></input>
            <div id="create_game" onclick="join()">join</div><br>
        </div>
    </body>
</html>